<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/form.css' />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Roboto&display=swap" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <form action="/acount" method="post" enctype="multipart/form-data">
      <div>
        <div class="null_war"><%- null_war %></div>
        <p>ID</p>
        <input type="text" name="username" value="<%- hanne %>">
      </div>
      <div>
        <p>パスワード</p>
        <input type="password" name="password" value="<%- password %>">
      </div>
      <div class="profile">
        <label for="profile">
          プロフィール画像
          <input type="file" id="file" name="profileImage" onchange="$('#fake_text_box').val($(this).val())">
          <input type="text" id="profile" value="ファイル選択" onClick="$('#file').click();">
        </label>
      </div>
      <div style="margin-bottom: 3rem;">
        <input type="text" name="fake_text_box" id="fake_text_box" value="" size="35" readonly onClick="$('#file').click();">
      </div>
      <!--
      <div>
        <p>プロフィール画像</p>
        <input type="file" name="profileImage" class="file">
      </div>
      -->
      <div>
        <input type="submit" class="submit_btn" style="margin: 1rem 0;" value="変更">
      </div>
    </form>
    <a href="/" class="back-page">戻る</a>
  </body>
</html>
