<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
  
    <!-- ヘッダーを挿入 -->
    <header>
      <h1><%= title %></h1>
    </header>

    <div class="contents">
    <!--  <p>Welcome to <%= title %></p> -->
      <div class="profile-flex">
        <img id="sample" class="profileImage" src="/images/uploads/<%= image %>">
        <p>名前 : <%= user %></p>
        <p>レベル : <%= rank %></p>
      </div>

      <!-- 煽り吹き出し -->
      <div class="callout">
        <div class="faceicon">
          <img src="/images/profileImage.jpg">
        </div>
        <div class="chat">
          <div class="says">
            <p><%- remark %></p>
          </div>
        </div>
      </div>

      <div><a class="detailButton" href="/count">カウント</a></div>
      <div><a class="detailButton" href="/rank">ランキング</a></div>
      <!-- <div><a class="detailButton" href="/graph">推移</a></div> -->
      <div><a class="detailButton" href="/acount">アカウント設定</a></div>
      <div><a class="detailButton" href="/form">お問い合わせ</a></div>
      <div><a class="detailButton" href="/logout">ログアウト</a></div>
    </div>
  </body>
</html>
